:root{
    color-scheme: dark;
    font-family: var(--font-roboto), sans-serif;
}

*{
    box-sizing: border-box;
}

main{
    max-width: 800px;
    margin:auto
}


button{
    font-size: 20px;
    padding: 6px 24px;
    background-color: gray;
    color: antiquewhite;
    margin: 9px;
}